.search-card {
  width: max-content;
  height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
  color: #284b4d;
  background-color: #d5ede4;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    height: 25px;
    font-size: 12px;
  }
}
