.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search {
    margin-top: 282px;

    &__searchbox {
      width: 578px;
      height: 48px;
      background-color: transparent;
      border: 1px solid rgba(60, 60, 60, 0.5);
      border-radius: 12px;
      padding: 10px 18px;
      gap: 6px;

      &__form {
        height: 100%;
        display: flex;
        align-items: center;

        svg {
          margin-right: 15px;
        }
      }

      &__input {
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-family: 'IBM Plex Mono';
        outline: none;
        background-color: transparent;
        border-color: transparent;
      }

      &__button--search {
        &:hover {
          cursor: pointer;
        }
      }

      &__button--cancel {
        border-radius: 50%;
        transition: ease-in 0.1s;
        &:hover {
          cursor: pointer;
          color: #ba1200;
          transform: scale(1.75);
        }

        &:active {
          background-color: #ba1200;
          color: white;
        }
      }
    }

    &__results {
      margin: 15px auto 50px auto;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 8px;
      max-height: 600px;
      overflow-y: scroll;

      &__title {
        font-size: 12px;
        display: inline-block;
        margin-bottom: 20px;

        &--error {
          text-align: center;
        }
      }
    }
  }
}
