.result-card {
  list-style-type: none;
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    background-color: #e4e3e3;
  }

  .detail {
    &__name {
      font-weight: 600;
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }

      &:hover {
        color: #0a5013;
        + .detail__tooltip {
          display: contents;
        }
      }
    }

    &__tooltip {
      display: none;

      &__text {
        position: absolute;
        width: 700px;
        height: max-content;
        border-radius: 6px;
        padding: 7px;
        margin-top: 30px;
        margin-left: 130px;
        background-color: rgb(252, 250, 142, 0.8);
        color: rgb(0, 0, 0, 0.7);
        text-align: center;

        @media screen and (max-width: 600px) {
          font-size: 12px;
          margin-left: 50px;
          width: 300px;
        }
      }
    }

    &__price {
      &__original {
        font-size: 12px;
        @media screen and (max-width: 600px) {
          font-size: 10px;
        }
      }

      &__discount {
        font-weight: 600;
        margin-left: 9px;
        color: #ba1200;

        @media screen and (max-width: 600px) {
          font-size: 12px;
        }
      }
    }
  }
}
